<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Bandits in the Woods</string>
		<key>Details</key>
		<string>The famed bounty hunter HotDog has requested the aid of a hero in ridding the woods of terrifying bandits who have thus far eluded his capture, as he is actually a dog, and cannot actually grab things more than 6 feet off the ground.</string>
		<key>Latitude</key>
		<real>46.908588</real>
		<key>Longitude</key>
		<real>-96.80899100000001</real>
		<key>Owner</key>
		<string>HotDogg The Bounty Hunter</string>
		<key>OwnerLatitude</key>
		<real>46.8541979</real>
		<key>OwnerLongitude</key>
		<real>-96.8285138</real>
		<key>Alignment</key>
		<string>Good</string>
		<key>GoldRewards</key>
		<integer>100</integer>
		<key>XP</key>
		<string>10</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Special Delivery</string>
		<key>Details</key>
		<string>Sir Jimmy was once the fastest man in the kingdom, brave as any soldier and wise as a king. Unfortunately, age catches us all in the end, and he has requested that I, his personal scribe, find a hero to deliver a package of particular importance--and protect it with their life.</string>
		<key>Latitude</key>
		<real>46.8657639</real>
		<key>Longitude</key>
		<real>-96.7363173</real>
		<key>Owner</key>
		<string>Sir Jimmy The Swift</string>
		<key>OwnerLatitude</key>
		<real>46.8739748</real>
		<key>OwnerLongitude</key>
		<real>-96.806112</real>
		<key>Alignment</key>
		<string>NEUTRAL</string>
		<key>GoldRewards</key>
		<integer>2000</integer>
		<key>XP</key>
		<string>110</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Bandits in the Woods</string>
		<key>Details</key>
		<string>The famed bounty hunter HotDog has requested the aid of a hero in ridding the woods of terrifying bandits who have thus far eluded his capture, as he is actually a dog, and cannot actually grab things more than 6 feet off the ground.</string>
		<key>Latitude</key>
		<real>46.908588</real>
		<key>Longitude</key>
		<real>-96.80899100000001</real>
		<key>Owner</key>
		<string>HotDogg The Bounty Hunter</string>
		<key>OwnerLatitude</key>
		<real>46.8541979</real>
		<key>OwnerLongitude</key>
		<real>-96.8285138</real>
		<key>Alignment</key>
		<string>EVIL</string>
		<key>GoldRewards</key>
		<integer>3000</integer>
		<key>XP</key>
		<string>500</string>
	</dict>
</array>
</plist>
